<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @account_admin.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @account_admin.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account_admin.email %>
</p>

<p>
  <strong>Hashed password:</strong>
  <%= @account_admin.hashed_password %>
</p>

<%= link_to 'Edit', edit_account_admin_path(@account_admin) %> |
<%= link_to 'Back', account_admins_path %>
