<h1>Administrator for Account <small><%=@administrator.account.owner_name%></small></h1>

<p>
  <strong>First name:</strong>
  <%= @administrator.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @administrator.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @administrator.email %>
</p>
<p>
  <strong>Status:</strong>
  <%=@administrator.status_as_key.to_s.humanize%>
</p>

<%= link_to 'Back to Application', @administrator.account, class: 'btn btn-primary' %>


<%  unless can_not_delete? %>
  <%= link_to 'Delete', @administrator, method: 'delete' if can_not_delete?%> 
<% else %>
  <%= disabled_link 'Delete', @administrator, @reason %> 
<% end %>

<% unless can_not_edit? %>
  <%= link_to 'Edit', edit_administrator_path(@administrator), class: 'btn btn-default' %> 
<% else %>
  <%= disabled_link 'Edit', @administrator, @reason%> 
<% end %>
